body {
	font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

form > div {
	display: flex;
    align-items: center;
    justify-content: center;
}

label {
	color: #000028;
	margin: 0 30px;
	width: 10%;
	font-weight: 500;
}

input {
	height: 50px;
    width: 25%;
	margin: 20px;
	background-color: #FFFFFF;
	border: 2px solid #000028;
	border-radius: 10px;
	box-shadow: 0 10px 10px #CCCCCC;
}

button {
	width: 20%;
	border: none;
	color: #FFFFFF;
	background-color: #000028;
	padding: 20px;
	margin-top: 50px;
	font-size: 18px;
	font-weight: bold;
}

button:disabled {
	pointer-events: none;
	width: 20%;
	border: none;
	color: #999999;
	background-color: #CCCCCC;
	padding: 20px;
	margin-top: 50px;
	font-size: 18px;
	font-weight: bold;
}